.row
  .span12
    %form(action="/solve" method="POST" style="margin: 0 auto; width: 40em")
      %fieldset
        %legend I want to craft...
        %select.chzn-select{name: 'items[]', data: {placeholder: 'type item names'}, multiple: true}(style="width: 100%")
          - item_groups.each do |group, items|
            %optgroup{label: I18n.t("clusters.#{group}")}
              - items.each do |name|
                %option(value=name)= name
        %span.help-block
          Examples:
          %i.example quantum body armor,
          %i.example induction furnace,
          %i.example retriever
        %button.btn.btn-primary.btn-large.btn-block(type="submit" style="width: 10em; margin: 0 auto") Explain!
:javascript
  $(function() {
    $('.example').click(function() {
      var itemname = $(this).text().replace(',', '');
      $('option[value="'+itemname+'"]').attr('selected', true);
      $('select').trigger('liszt:updated');
    });
  })

